<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*-->
<!--FACEBOOK CLONE / PHOTONS / HELP TANK-->
<!--A Spring MVC FRAME FOR A SOCIAL MEDIA PLATFORM-->
<!--By Timothy Craig Lefkowitz and the help of Codeup!-->
<!--Aug 9th 2021-->
<!--Special Thanks to-->
<!--Douglas Hirsh-->
<!--Kenneth Howell-->
<!--Samuel Moore-->
<!--and everyone at Codeup-->


<!--*/-->

<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=375, initial-scale=1">
    <title>PHOTONS</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>








    <!--    &lt;!&ndash; Music import&ndash;&gt;-->
<!--    <link rel="stylesheet" href="ydxx.css">-->




    <!--  convert to a stylesheet later -->
    <style>

        * {
            font-family: Helvetica, SansSerif;

        }

        /* unvisited link */
        a:link {
            color: #00b1ae;
        }

        /* visited link */
        a:visited {
            color: #00b1ae;
        }

        /* mouse over link */
        a:hover {
            color: #00b1ae;
        }

        /* selected link */
        a:active {
            color: #00b1ae;
        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        body{
            display: inline;
            justify-content: center;
            align-items: center;
        }
        #mainforpost{
            justify-content: center;
            align-content: center;
            align-items: center;

        }

        .row>* {
            padding-right: 0;!important;
            padding-left: 0;!important;
        }


        .row{
            padding:0;!important;
            padding-left: 0;!important;
            padding-right: 0;!important;
        }


        /*Iphone x media query*/
        @media only screen and (min-width: 375px) and (max-width: 767px)
        { /* Your Styles... */

        }


    </style>


<!--    //favcon-->
    <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">

<!--      Google Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<!--sec:authorize="isAuthenticated()-->
<body>


<!--<div th:include="partials/nav :: navbar">-->
<!--</div>-->

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/home">
<!--            <img th:src="@{/users/avatars/BlueSphere1.2.gif}" width="50" height="50" class="d-inline-block align-top" alt=""/>-->
            <img src="https://live.staticflickr.com/65535/51369056853_85ef692ae7_o.gif" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="navbar-brand me-2" href="/home">
            PHOTONS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggle button -->
<!--        <button-->
<!--                class="navbar-toggler"-->
<!--                type="button"-->
<!--                data-mdb-toggle="collapse"-->
<!--                data-mdb-target="#navbarButtonsExample"-->
<!--                aria-controls="navbarButtonsExample"-->
<!--                aria-expanded="false"-->
<!--                aria-label="Toggle navigation"-->
<!--        >-->
<!--            <i class="fas fa-bars"></i>-->
<!--        </button>-->

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="groups">groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends">friends</a>
                </li>
            </ul>


            <!-- Left links -->

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="updatestatus">update status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post">post</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" th:action="@{/logout}" th:method="post" th:href="logout">logout</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--&lt;!&ndash;                         <a&ndash;&gt;-->
<!--&lt;!&ndash;                        class="btn btn-dark px-3 material-icons-outlined"&ndash;&gt;-->
<!--&lt;!&ndash;                        href="myprofile"&ndash;&gt;-->
<!--&lt;!&ndash;                        role="button">&ndash;&gt;-->

<!--&lt;!&ndash;                             <i class="material-icons" style="font-size:14px;">account_circle</i>&ndash;&gt;-->
<!--&lt;!&ndash;                         </a>&ndash;&gt;-->
<!--                    </li>-->

                    <!-- More links here... -->
                    <!-- More links here... -->
                    <li class="nav-item">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn" style="text-decoration: none; color:#00b1ae">logout</button>
                        </form>
                    </li>
                </ul>



            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- END OF NAVBAR     -->



<!--      USERS POSTS DIV   -->
<div id="mainforpost" class="col-lg-12" th:each="usersPost : ${allposts}" style="align-items: center; align-content: center;">

            <!--              UserPost        style="max-height: 400px;      -->
            <div class="container userPost" style="height:100%">

                <!--          Start of posting div-->
                <div class="row postingDiv" style="display: flex; justify-content: center; align-items: center; text-align: center">


                    <img th:src="${usersPost.imgPath}" style="width: 85vh;">
                    <h4 style="align-items: center" th:text="${usersPost.title}"></h4>
                    <p style="align-items: center" th:text="${usersPost.body}"></p>



                    <!--                    <img th:src="${usersPost.getOwnerUser().originalavatar}" style="height: 20px; width: 20px;">-->

                    <a th:href="'/i/' + ${usersPost.getOwner().username}">
                        <img th:src="${usersPost.getOwner().imgPath}" style="height: 32px; width: 32px;">
                        <h6 style="align-items: center" th:text="${usersPost.getOwner().username}"></h6></a>


                </div>
            </div>
</div>

<!--               END OF HOMEPAGE-->





<!--&lt;!&ndash; jQuery library &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>-->


</body>



<!--/// NAV FOR MOBILE-->
<!-- This idea remains! -->

<!--<nav class="navbar navbar-expand-sm nav1 fixed-bottom navbar-dark bg-dark" style="height: 158px; text-align: center; align-items: center; justify-content: center; display:none;">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->


<!--    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">-->
<!--        <img src="users/avatars/home.gif" style="height: 128px; width:128px; width:100%; ">-->
<!--        <a style="color: #F5F5F5; font-size: 8px">home</a>-->
<!--    </div>-->
<!--    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">-->
<!--        <img src="users/avatars/groups.gif" style="height: 128px; width:128px; width:100%; ">-->
<!--        <a style="color: #F5F5F5; font-size: 8px">groups</a>-->
<!--    </div>-->
<!--    <div class="homeButton" style="width: 128px;display: inline; justify-content: center; text-align: center">-->
<!--        <img src="users/avatars/BLUEcube.gif" style="height: 128px; width:128px; width:100%; ">-->
<!--        <a style="color: #F5F5F5; font-size: 8px">post</a>-->
<!--    </div>-->

<!--</nav>-->
</html>