<!--/*-->
<!--FACEBOOK CLONE / PHOTONS / HELP TANK-->
<!--A Spring MVC FRAME FOR A SOCIAL MEDIA PLATFORM-->
<!--By Timothy Craig Lefkowitz and the help of Codeup!-->
<!--Aug 9th 2021-->
<!--Special Thanks to-->
<!--Douglas Hirsh-->
<!--Kenneth Howell-->
<!--Samuel Moore-->
<!--and everyone at Codeup-->


<!--*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Welcome</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">


  <!-- Custom styles for this template -->
<!--  <link href="signin.css" rel="stylesheet">-->



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



  <!--    //favcon-->
  <link rel="icon" type="image/png" sizes="16x16" href="https://live.staticflickr.com/65535/51320697245_9708355788_c.jpg">
</head>




<style>
  *, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
  }

  body {
    padding:0;
    margin:0;
    background: linear-gradient(to right, #00AAFF, #00FF6c);
  }

  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }

  .calculator-grid > button:hover {
    background-color:rgba(255, 255, 255, .9);
  }


  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 2.5rem;
  }
</style>



<!--{}{}{}{}{}{}{}{}{}{}{}}{}{}    sec:authorize="isAuthenticated()     -->

<body class="text-center" style="max-width: 1920px" >


<!--<nav th:include="partials/nav :: navbarfragment">-->
<!--  The entire content of the partial will be *included* inside this div.-->
<!--</nav>-->



<form class="form-signin" th:action="@{/index}" method="post" style="margin-top: 125px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">
  <img class="mb-4" src="https://i.imgur.com/v2t7qrK.gif" alt="" width="72" height="72">


  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>





      <!--  // Spring Security -->
        <div th:if="${param.error}">
          Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
          You have been logged out.
        </div>





  <label for="username" class="sr-only">username</label>
  <input type="username" id="username" class="form-control" placeholder="username" required="" autofocus="" name="username">
  <!--         Password, your password will be hashed and encrypted      -->
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" class="form-control" placeholder="password" required="" name="password">
  <p class="mt-5 mb-3 text-muted">Password is hashed and Spring Security our Security</p>



  <div class="checkbox mb-3">

    <!--- Remember Me doesn't function. I'm prioritizing currently     -->
<!--    <label>-->
<!--      <input type="checkbox" value="remember-me"> Remember me-->
<!--    </label>-->
  </div>
  <button class="btn btn-lg btn-block" value="Log In" style="background:linear-gradient(to right, #9e69ba, #b700fc);" type="submit">Sign in</button>

</form>

<form class="form-signin" style="margin-top: 45px; max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">
<p class="mt-5 mb-3 text-muted">Don't Have an Account?</p>

  <div style="max-width: 300px; margin-left:20%; margin-right:20%; align-items: center">
    <a href="users/sign-up" class="btn btn-lg btn-block" style="background:linear-gradient(to right, #9e69ba, #b700fc);" role="button" aria-pressed="true">Sign Up</a>

    <p class="mt-5 mb-3 text-muted">FBC</p>
  </div>

</form>



<!--  /// Audio Controls  -->
<!--          W3EXAMPLE   -->

<!--  <audio controls>-->
<!--    <source src="horse.ogg" type="audio/ogg">-->
<!--    <source src="horse.mp3" type="audio/mpeg">-->
<!--    Your browser does not support the audio element.-->
<!--  </audio>-->

<!-- -->
<!--</div>-->
<!--  <audio controls>-->
<!--    <source src="horse.ogg" type="audio/ogg">-->
<!--    <source src="horse.mp3" type="audio/mpeg">-->
<!--    Your browser does not support the audio element.-->
<!--  </audio>-->


<!--        jquery-->

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<!--    Filestack Javascript-->

<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">

  /*<![CDATA[*/

  var filestackapi = [[${fileStackApi}]];
  console.log(filestackapi);



  //Establishing a FileStack connection
  const client = filestack.init(filestackapi);

  const options = {
    onUploadDone:
            function(res){
              $("#stashFileStackURL").val(res.filesUploaded[0].url);
              console.log(res.filesUploaded[0].url);


            }
  }


  // inputIMG button code
  $("#inputIMG").click(function(){
    client.picker(options).open();
  })




</script>

<script>

  $(document).ready(function(){
    $("#signUpButton").click(function(){

      // <<<<<<<< >>>> Let's write some jquery. <<<<>>>>>>>'
      // <<<<<<>>>>      Here's my example of doing something on a click  <<<>>>>>>>>
      // <<<<<>>>>        Will brb to this    <<<<>>>>>>>>>>>>>>>>>
      // $("#email").find(100),{
      //   $("#prize")
      // var prize = "goldMember"
      //   alert("You are the 100th signup win a price " + prize)
      // }

    });
  });



</script>


<!--      Security Feature-->
<!--{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{{}}-->


<http use-expressions="true">
  <intercept-url pattern="/admin*"
                 access="hasRole('admin') and hasIpAddress('70.94.160.36')"/>
  ...
</http>



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>
</html>